* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    max-width: 1200px;
    margin: 40px auto;
    /* background-color: rgb(194, 255, 194); */
}

.main .nav {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2 {
    font-size: 2rem;
    background: -webkit-linear-gradient(rgb(3, 227, 3), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
}

.nav a:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading h3 {
    padding: 20px 0px;
    text-align: center;
    text-transform: capitalize;
}

table {
    border-collapse: collapse;
    width: 82%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(236, 236, 236);
}

@media screen and (max-width: 722px) {
    .main .nav {
        padding: 10px 0px;
        margin: auto;
    }

    table {
        font-size: 7px;
        width: 100%;
    }
}